# Environments
.env
.venv
.myvenv
env/
venv/
ENV/
myvenv/

# dependencies
/frontend/node_modules
/node_modules

# testing
/coverage
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# production
/build

# And all this...
__pycache__/
*.pyc
*.pyo

.vscode/

.DS_Store
bin
develop-eggs
dist
downloads
eggs
parts
src/*.egg-info

# Text backup files
*.bak

# Database
*.sqlite3