{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'app/css/myapp.css' %}">
    <link rel="stylesheet" href="{% block customCSS %}{% endblock %}">
</head>

<html>
    <head><title>Example Title</title></head>
<body>
    <div class="navbar">
        <ul>
            <li><a href="{% url 'app:home' %}">Home</a></li>
            <li><a href="{% url 'app:example_list' %}">Example List</a></li>

            {% if example_list %}
            {% for person in example_list %}
            <li><a href="{% url 'app:person' person.id %}">{{ person.name }}</a></li>
            {% endfor %}
            {% endif %}
        </ul>
    </div>
    <div>
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>