{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'css/myapp.css' %}">
</head>

<html>
    <head>
        <title>
        {% block title %}
        {% endblock %}
        </title>
    </head>
<body>
    <div class="navbar">
        <ul>
            <li><a href="{% url 'app:home' %}">Home</a></li>
            <li><a href="{% url 'app:birdie_list' %}">Birdie List</a></li>

            {% if player_list %}
            {% for person in player_list %}
            <li><a href="{% url 'app:person' person.id %}">{{ person.first_name }}</a></li>
            {% endfor %}
            {% endif %}
        </ul>
    </div>
    <div>
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>