{% load staticfiles %}
<head>
    <link rel="stylesheet" href="{% block css %}{% endblock %}">
</head>

<html>
    <head><title>Example Title</title></head>
<body>
    <div class="navbar">
        <ul>
            <li><a href="{% url 'app:home' %}">Home</a></li>
            <li><a href="{% url 'app:example_list' %}">Example List</a></li>
            <li><a href="{% url 'app:person' %}">Person</a></li>
        </ul>
    </div>
    <div>
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>